### Import libraries

In [1]:
import pandas as pd 
import numpy as np

### Read_Data

In [2]:
data = pd.read_csv("train_indessa.csv")

In [3]:
data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0

### pivoting the table

In [4]:
df_tab=pd.DataFrame(data.describe(include='all')).stack().unstack(0)

### Univariate

In [5]:
try:
    df_tab['cnt_null'] = data.apply(lambda col: col.isnull().sum())
    df_tab['null_%'] = df_tab.apply(lambda row: round((row['cnt_null']/(row['cnt_null']+row['count']))*100,2), axis=1)
    df_tab['cnt_unique']=data.apply(lambda col: len(col.unique().tolist()))
    df_tab['cnt_zeros'] = data.isin([0]).sum(axis=0)
    df_tab['cnt_zero_and_null'] = df_tab['cnt_null']+df_tab['cnt_zeros']
    df_tab['zero_null_%'] = df_tab['cnt_zero_and_null']*100 / data.shape[0]
    df_tab['Data_Type'] = data.dtypes
    df_tab['variance']=data.var(axis=0)
    df_tab['mode'] = data.mode().iloc[0,:]
    df_tab['1%'] = data.quantile(0.01)
    df_tab['5%'] = data.quantile(0.05)
    df_tab['95%'] = data.quantile(0.95)
    df_tab['99%'] = data.quantile(0.99)
except TypeError:
    pass
df_tab.rename(columns={'50%':'median'},inplace=True)
df_tab.rename(columns={'count':'cnt_non_null'},inplace=True)

In [6]:
#display the result
print(df_tab.columns)
df_tab=df_tab[df_tab.columns.difference(['unique','top','freq'])]

Index(['cnt_non_null', 'unique', 'top', 'freq', 'mean', 'std', 'min', '25%',
       'median', '75%', 'max', 'cnt_null', 'null_%', 'cnt_unique', 'cnt_zeros',
       'cnt_zero_and_null', 'zero_null_%', 'Data_Type', 'variance', 'mode',
       '1%', '5%', '95%', '99%'],
      dtype='object')

In [7]:
df_tab=df_tab[['Data_Type','cnt_non_null','cnt_null','null_%','cnt_unique','cnt_zeros','cnt_zero_and_null','zero_null_%','mean','std','min','1%','5%','25%','median','75%','95%','99%','max','variance','mode']]

### Save Univariate result

In [8]:
df_tab.reset_index(inplace = True)

In [9]:
df_tab.to_excel("Univariate_train_indessa.xlsx", index = False)